
#artiste{
    position: absolute;
    width: 100%;
    margin-bottom: 100px;}

.artiste{
    background-color: white;
    width: 200px;
    border-radius: 10px;
    margin:20px 0 20px 0;
    cursor: pointer;
    opacity: 0.8;
}
.artiste:hover{
     transition: box-shadow 0.3s 0.2s ease-in-out, opacity 0.3s 0.2s ease-in-out;
    box-shadow: 8px 8px 20px black;
    opacity: 1;
}
.avatar_artiste{
    background-color: #222;
    height: 150px;
}
.nbr_chanson_artiste{
    background-color: orange;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    border-radius: 20px;
}
.desc_artiste{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}