.musique{
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    margin:20px 0 20px 0;
    cursor: pointer;
    opacity: 0.8;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.musique:hover{
     transition: box-shadow 0.3s 0.2s ease-in-out, opacity 0.3s 0.2s ease-in-out;
    box-shadow: 8px 8px 20px black;
    opacity: 1;
}
.musique_cover{
    height: 130px;
    width: 230px;
    background-color: #222;
    background-size: cover;
}
.musique_info{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
.musique_nom{
    font-size: 18px;
    font-style: italic;
}
.bt{
    position: absolute;
    color: white;
    cursor: pointer;
}
.bt:hover{
    color: #46c734;
}
.bt_download{
    margin-left: 25px;
}
.bt_voir{
    margin-left: 48px;
}
.musique_genre{
    background-color: orangered;
    color: white;
}